@font-face {
    font-family: 'Permanent Marker', monospace;
    src: url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
  }
 

/*
box-sizing: border-box;
*/












header {
    max-width: 100%;    
    max-height: auto;
    background: wheat;
    
}

img {
    max-width: 100%;
    height: auto;
}



/* .logo1 {     
    max-width: 100%; 
    max-height: 100%;
    flex-grow: 1;
    object-fit: contain;  
} */

p {
    margin: 0;
}
/* img {
	max-width: 100%;
	max-height: 100%;
} */

.hr-tape {
    border: 0;
    margin: 0;
    height: 40px;
    width: 100%;
    background-image: url(../img/adhesive-white.png)
    
}
.blurb-border-tape {
    height: 20px;
    margin: -5px 40px;
    background-image: url(../img/tape-size-1.png)
    
}

h1 {
    font-family: 'Permanent Marker', monospace;
    font-size: 30px;
    font-weight: 300;
    padding-left: 5%;   
    margin-top: 5px; 
    /* 
    text-shadow: -3px 3px 3px #03071E; 
    */
    color: #CED8F7;
}

h3 {
    font-family: 'Permanent Marker', monospace;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10%;
    color: #CED8F7;    
}

h4 {
    margin: 0;
}

body {
    margin: 0;
    background-image: url(../img/table-background.jpg)
}

.blurb {
    font-family: 'Permanent Marker', monospace;
    margin: 0 40px;
    background-image: url(../img/grid-background.jpg);
    padding: 20px;
}

hr {
    /*
    border: 5px dashed #CED8F7;
    background-color: #3057E1;
    border-radius: 180;
    */
    
    
    
    
}











