/*  
*************************

Font Family

*************************
*/



@font-face {
    font-family: 'Alba Super', monospace;
    src: url("../ttf/ALBAS___.TTF");
}



@font-face {
    font-family: 'Keep on Truckin';
    src: url("../ttf/KEEPT___.TTF");
}



@font-face {
    font-family: 'albas2', monospace;
    src: url("../ttf/albas___-webfont.woff");
}



@font-face {
    font-family: 'alba_superregular';
    src: url('albas___-webfont.woff2') format('woff2'),
         url('albas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/*  
*************************

Universal HTML Page

*************************
*/



* {
    box-sizing: border-box;
}



/*  
*************************

Header/ NAV Bar

*************************
*/






/*  add and search buttons */



.buttonDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 40px;
}

.searchButton {
    font-size: 24px;
    height: 75px;
    width: 150px;
    border-radius: 10px;
    background-color: #fee3f6;
    font-family: 'Alba Super', monospace;    
    transition-duration: 0.4s;
    padding: 0%;
    border: none;
    margin: 0px 3px 0px 0px;
}

.addButton {
    font-size: 24px;
    height: 75px;
    width: 150px;
    border-radius: 10px;
    background-color: #fee3f6;
    font-family: 'Alba Super', monospace;    
    transition-duration: 0.4s;
    padding:0%;
    border: none;
    margin: 0px 0px 0px 3px;
}

  
.searchButton:hover {    
    font-size: 200%;    
}

.addButton:hover {    
    font-size: 200%;
}



/*  search bar */


@keyframes searchBarSlide {
    from {margin: 20px 40px 20px 695px;}
    to {margin: 20px 40px 20px 40px;}
}


form.searchBarClass {
    all: unset;
    background-color: #fee3f6;          
    border-radius: 30px;
    padding: 20px;
    font-family: 'Keep on Truckin', monospace;
    font-size: 24px;
    margin: 20px 40px;
    justify-content: space-evenly;    
    animation-name: searchBarSlide;
    animation-duration: 0.4s;      
}


input {
    all: unset;
    color: black;
    width: 90%;
}


::placeholder {
    color: black;
    opacity: 0.7; 
}


form.searchBarClass button {
    all:unset;

}

form.searchBarClass i:hover {
    transition-duration: 0.4s;
    transform: scale(-1, 1);

}


 
/*  add form */

@keyframes addFormVisibility {
    from {
        max-height: 0%;
        max-width: 0%;        
    }
    to {
        max-height: 100%;
        max-width: 100%;
    }
}


form.addFormClass {
    /* max-height: 0%;
    max-width: 0%; */    
    background-color: #fee3f6;          
    border-radius: 30px;
    padding: 20px;
    font-family: 'Alba Super', monospace;
    font-size: 24px;
    margin: 20px 40px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;    


    animation-name: formButtonTransition;    
    animation-duration: 1s;
}
  

input[type=text] {
    /* max-height: 0%;
    max-width: 0%; */
    font-family: 'Keep on Truckin', monospace;
    margin: 15px 10px;
    background-color: #fee3f6;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    height: 40px;

    animation-name: formButtonTransition;
    animation-duration: 1s;      
}


input.addFormButton {
    /*  max-height: 0%;
    max-width: 0%; */
    /* background: black; */
    text-align: center;
    font-size: 24px;
    /* height: 75px;
    width: 300px; */
    border-radius: 10px;
    background-color: #fee3f6;
    font-family: 'Alba Super', monospace;    
    transition-duration: 0.4s;
    /* padding: 15px 32px; */
    border: 5px solid black;
    flex-grow: 1; 
    flex-wrap: nowrap; 
    /* margin: 15px 10px; */
    

    height: 75px;
    width: 150px;
    border-radius: 10px;
    
    transition-duration: 0.4s;
    padding: 0%;
    /* border: none; */


    animation-name: formButtonTransition;
    animation-duration: 1s;
}

  
#formButton {
    padding: 15px 32px;
    margin: none;    
}


input.addFormButton:hover {
    /* max-height: 0%;
    max-width: 0%; */
    font-size: 125%;
}


input#title {
    animation-name: formButtonTransition;
    animation-duration: 1s;
}


input#blog-text {
    animation-name: formButtonTransition;
    animation-duration: 1s;
}


@keyframes addFormVisibilityText {
    0%, 50% {visibility: hidden;} 
    100% {visibility: visible;}
}


label {     
    animation-name: formButtonTransition;
    animation-duration: 1s;
}


 

/*  
*************************

Body

*************************
*/



body {    
    box-shadow:
		inset #ffba08 0 0 0 5px,
		inset #faa307 0 0 0 1px,
		inset #f48c06 0 0 0 10px,
		inset #e85d04 0 0 0 11px,
		inset #dc2f02 0 0 0 16px,
		inset #d00000 0 0 0 17px,
		inset #9d0208 0 0 0 22px,
		inset #6a040f 0 0 0 23px,
        inset #370617 0 0 0 28px,
		inset #03071e 0 0 0 29px;        
    padding: 40px;  
    /* background: #03071e; */    
}



header {
    max-width: 100%;    
    max-height: auto;
    background-color: wheat;    
}



img {
    max-width: 100%;
    height: auto;
}



p {
    margin: 0;    
}




/*  blog posts */


summary {
    font-family: 'Alba Super', monospace;
    font-size: 24px;
}



details {
    /* font-family: 'Alba Super', monospace; */
    margin: 20px 40px;
    /* background-image: url(../img/grid-background.jpg); */
    background-color: #fee3f6;
    padding: 20px;
    border-radius: 10px;    
}



details p {
    font-family: 'Keep on Truckin', monospace;
    margin: 20px 10px 10px 10px;
    font-size: 24px;
    letter-spacing: 2px;
}



.summary-line {
    background: linear-gradient(to right, red, yellow);
    height: 5px;
    border: none;
}




/*  hr tags */

#appendHere, .hr-body {
    margin: 0;
    border: none;
}




